#gorria{
    background-color: red;
}
#mberdea{
    background-color: green;
}
#urdina{
    background-color: blue;
}
#beltza{
    background-color: black;
}
#txuria{
    background-color: white;
}
#